.profile {
    max-width: 12%;
}
    
.nav-link {
    padding: 0.5rem 0.1rem !important;
}

.nav-pills li {
    width: 33%;
    text-align: center;
    font-size: 0.6rem;
}

.nav-pills li a.r-pill {
    border-radius: 0 1em 1em 0 !important;
    border: 1px solid #00adb5;
}

.nav-pills li a.m-pill {
    border-radius: 0 0 0 0 !important;
    border: 1px solid #00adb5;
}

.nav-pills li a.l-pill {
    border-radius: 1em 0 0 1em !important;
    border: 1px solid #00adb5;
}