.body,.html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


header {
    position: fixed;
    height: 55px;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.content {
    padding-top: 70px;
    padding-bottom: 25px;
    overflow: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 100px;
    min-height: 60px;
    line-height: 60px;
    background: white;
  }
.footer .row .col {
    text-align: center;
}

.consult-page div {
    text-align: center;
    margin: auto;
}

.bottom-button {
    position: fixed;
    bottom: 0;
    margin-bottom: 72px;
}

