<div class="container-fluid mb-5 mt-4">

    <div class="media card">
        <img src="../res/img/baby-jonathan.jpg" class="card-img-top" alt="Baby Jonathan going for it.">
        <div class="media-body card-body">
            <h6 class="mt-0 mb-1">
                <img class="profile mr-3" src="../res/img/natalie.png" alt="Your profile picture">
                <span class="pr-3">You</span>
                <small class="text-muted pl-5">16h</small>
            </h6>
            This is baby Jonathan. Just look at him go! <br>
            <div class="mt-2">
                <span class="px-4">
                    <i class="fas fa-share"></i>
                    Share
                </span>
                <span class="px-4">
                    <i class="fas fa-heart"></i>
                    Like
                </span>
                <span class="px-4">
                    <i class="fas fa-comment"></i>
                    Comment
                </span>
            </div>
        </div>
    </div>
    <div class="media card pl-4 mt-1">
        <div class="media-body card-body">
            <h6 class="mt-0 mb-1">
                <img class="profile mr-3" src="../res/img/mark.png" alt="Mark's profile picture">
                <span class="pr-3">Mark</span>
                <small class="text-muted pl-5">16h</small>
            </h6>
            Wow! Baby Jonathan is really going for it! <br>
            <small class="text-muted">
            <span class="pr-3">
                <i class="fas fa-heart"></i>
                Like
            </span>
            <span>
                <i class="fas fa-comment"></i>
                Comment
            </span>
        </small>
        </div>
    </div>
</div>

<style>
    .profile {
        max-width: 12%;
    }
</style>