<div class="container mb-5">
    <div class="card mb-3">
      <img src="https://cdn2.iconfinder.com/data/icons/flat-vegetables/32/vegetables_flat_3-512.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Article Title</h5>
        <p class="card-text">
            Multi-line article text goes here. The content is related to the article like in this case it could be.
            Broccoli is a healthy source of keratin which prevents aging.
        </p>
        <p class="card-text"><small class="text-muted">Tags: Health, Baby, Green & Good.</small></p>
          
        <a href="#" class="card-link showmore-com">
            <i class="fas fa-star"></i>
            Favourite
        </a>
        <a href="#" class="card-link showmore-com">
            <i class="fas fa-share"></i>
            Share
        </a>
      </div>
    </div>
</div>