<div class="container-fluid mb-5 mt-4 consult-page">
  <div class="container mb-3">
  <div class="card">
    <div class="card-header text-center">
      <h6>Pick a date to speak with one of our experts</h6>
    </div>
    <div class="card-body">
  <div class="form-group center">
    <label for="exampleFormControlSelect1">Select Therapist</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Therapist 1</option>
      <option>Therapist 2</option>
      <option>Therapist 3</option>
      <option>Therapist 4</option>
      <option>Therapist 5</option>
    </select>
  </div>

  <div class="center">
    <label for="datehere">Pick Date</label>
    <div id="datehere">
    </div>
    <script type="text/javascript" src="./controllers/consult.js"></script>
  </div>

  <div class="center">
    <label for="pills-tab">Pick Time</label>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-1" data-toggle="pill" href="#" role="tab" aria-controls="pills-1" aria-selected="true">10:30</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-2" data-toggle="pill" href="#" role="tab" aria-controls="pills-2" aria-selected="false">14:30</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-3" data-toggle="pill" href="#" role="tab" aria-controls="pills-3" aria-selected="false">16:00</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-4" data-toggle="pill" href="#" role="tab" aria-controls="pills-4" aria-selected="false">16:30</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <button type="button" class="btn btn-primary px-5 c-schedule">Confirm Appointment</button>
  </div>
  <script type="text/javascript">
    $(".c-schedule").click(function(){
       $('.root').load("views/consult0.html");
    });
  </script>

</div>
</div>
</div>

</div>
