<div class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Tolu Bempong</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Anthonius Wilkius</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link"> Rayyu He</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Anjaria Matata</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Jim The Tool</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Huixi Lu</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>

<style>
    .profile {
        margin: auto;
        text-align: center;
        width: 50%;
        padding-bottom: 10px;
    }

    .invite {
        margin: auto;
        text-align: center;
        width: 50%;
        padding-bottom: 20px;
    }

    .user {
        border-bottom: 1px solid #f1f2f2;
        margin-bottom: 20px;
    }
</style>