
<div class="container-fluid">
    <div class="input-group">
        <input type="text" class="form-control" , placeholder="Find friend">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="fa fa-search" /></button>
        </span>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Friend 1</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="success btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Friend 2</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="success btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Friend 3</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="success btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Friend 4</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="success btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Friend 5</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="success btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="row">
                    <div class="col profile">
                        <h5><a href="#" class="profile-link">Friend</a></h5>
                    </div>
                    <div class="col invite">
                        <button class="success btn btn-primary pull-right">Send Invite</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .profile {
        margin: auto;
        text-align: center;
        width: 50%;
        padding-bottom: 10px;
    }

    .invite {
        margin: auto;
        text-align: center;
        width: 50%;
        padding-bottom: 20px;
    }

    .user {
        border-bottom: 1px solid #f1f2f2;
        margin-bottom: 20px;
    }

    .search-result{
    margin: 0 0 15px;
    color: #333;
    }
    
    .search-result{
    font-size: 12px;
    color: #333;
    }

    .input-group {
        margin-bottom: 25px;
    }
</style>

<script type="text/javascript">

    $(".success").click(function(){
        $.bootstrapGrowl('Invite send!',{
            type: 'success',
            delay: 1000,
            offset: {from: 'top', amount: 65},
            align: "center"
        });
    });

</script>