<div class="container-fluid mb-3">
    
    <div class="card">
      <div class="p-3">
        <small class="card-title text-muted">User's Name 1</small>
        <p class="card-text">Hello there! How are you doing?</p>
      </div>
    </div>
    
    <small class="text-muted">5 minutes ago</small>
    
    <div class="card mt-1">
      <div class="p-3">
        <small class="card-title text-muted">User's Name 1</small>
        <p class="card-text">How did you end up here?</p>
      </div>
    </div>
    
    <small class="text-muted">5 minutes ago</small>
    
    <div class="card mt-1 text-white bg-secondary">
      <div class="p-3">
        <small class="card-title">You</small>
        <p class="card-text">Hi! I am doing quite well actually. Thanks for asking. What about you?</p>
      </div>
    </div>
    
    <small class="text-muted">2 minutes ago</small>
    
    <div class="card mt-1 text-white bg-secondary">
      <div class="p-3">
        <small class="card-title">You</small>
        <p class="card-text">How did I end up here? Well that's a silly question don't you think?</p>
      </div>
    </div>
    
    <small class="text-muted">1 minutes ago</small>
    
    <div class="card mt-1 text-white bg-secondary">
      <div class="p-3">
        <small class="card-title">You</small>
        <p class="card-text">My baby brought me here, if you know what I mean :)</p>
      </div>
    </div>
    
    <small class="text-muted">1 minutes ago</small>
    
    
    
</div>