<div class="container-fluid mb-3 mt-4">
    
    <div class="card">
      <div class="p-3">
        <small class="card-title text-muted">User's Name 1</small>
        <p class="card-text">Hello there! How are you doing?</p>
      </div>
    </div>
    
    <small class="text-muted">5 minutes ago</small>
    
    <div class="card mt-1">
      <div class="p-3">
        <small class="card-title text-muted">User's Name 1</small>
        <p class="card-text">Have you seen baby Jonathan going for it?</p>
      </div>
    </div>
    
    <small class="text-muted">5 minutes ago</small>
    
    <div class="card mt-1 text-white bg-secondary">
      <div class="p-3">
        <small class="card-title">You</small>
        <p class="card-text">Hi! I am doing quite well actually. Thanks for asking. What about you?</p>
      </div>
    </div>
    
    <small class="text-muted">2 minutes ago</small>
    
    <div class="card mt-1 text-white bg-secondary">
      <div class="p-3">
        <small class="card-title">You</small>
        <p class="card-text">Oh my gosh, yes - isn't baby Jonathan just so good at going for it?</p>
      </div>
    </div>
    
    <small class="text-muted">1 minutes ago</small>
    
    <div class="card mt-1 text-white bg-secondary">
      <div class="p-3">
        <small class="card-title">You</small>
        <p class="card-text">He can't be stopped by any obstacle. Not even a towel.</p>
      </div>
    </div>
    
    <small class="text-muted">1 minutes ago</small>
    
    
    
</div>