
      <div class="container-fluid mt-3 mb-5">
        <div class="row">
          <div class="col-md-3 mt-3">
            <div class="card text-center">
              <img class="card-img-top" src="https://steamcdn-a.akamaihd.net/steam/apps/780750/header.jpg?t=1528049846" alt="Card image cap">
              <div class="card-body" id="card">
                  <div class="row">
                      <div class="col">
                      <h5>
                          <button type="button" class="btn btn-success btn-lg btn-block">Play</button>
                      </h5>
                      </div>
                      <div class="col">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-primary btn-lg btn-block friends">Invite</button>
                        </h5>
                      </div>
                    </div>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <h4 class="subtext">HIGHSCORE: 123456</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mt-3">
            <div class="card text-center">
              <img class="card-img-top" src="https://i.ytimg.com/vi/_QAi6avUNiA/maxresdefault.jpg" alt="Card image cap">
              <div class="card-body" id="card">
                <div class="row">
                  <div class="col">
                    <h5>
                      <button type="button" class="btn btn-success btn-lg btn-block">Play</button>
                    </h5>
                  </div>
                  <div class="col">
                    <h5 class="card-title">
                      <button type="button" class="btn btn-primary btn-lg btn-block friends">Invite</button>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <h4 class="subtext">HIGHSCORE: 1233456</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mt-3">
            <div class="card text-center">
              <img class="card-img-top" src="http://wallpaperstock.net/retro%3A-space-invaders_wallpapers_20668_852x480.jpg" alt="Card image cap">
              <div class="card-body" id="card">
                  <div class="row">
                      <div class="col">
                        <h5>
                          <button type="button" class="btn btn-success btn-lg btn-block">Play</button>
                        </h5>
                      </div>
                      <div class="col">
                        <h5 class="card-title">
                          <button type="button" class="btn btn-primary btn-lg btn-block friends">Invite</button>
                        </h5>
                      </div>
                    </div>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <h4 class="subtext">HIGHSCORE: 1233456</h4>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>


<script type="text/javascript">
    $(".friends").click(function(){
        $('.root').load("views/friends.html");
        $('.header').load("views/header-back-games.html");
    });
</script>
