<header class="container-fluid">

    <nav class="navbar fixed-top shadow-lg p-3 mb-2">
        <div class="row">
            <div class="fas fa-arrow-left fa-2x align-top col-2"></div>
            <h5 class="col-9 pl-5 mt-1 title-txt">BabyBreathe<sup>TM</sup></h5>
            <div class="icon-large align-top"></div>
        </div>
    </nav>

</header>

<script type="application/javascript">
    $(".fa-arrow-left").click(function(){
       $('.root').load("views/home.html");
        $('.footer').load("views/main-footer.html");
        $('.header').load("views/main-header.html");
    });
</script>