<header class="container-fluid">
    <nav class="navbar fixed-top bg-light shadow-sm p-3 mb-2">
        <div class="fas fa-arrow-left d-inline-block align-top col-1"></div>
        <div class="col-10"><b>BabyBreathe<sup>TM</sup></b></div>
        <div class="d-inline-block align-top col-1"></div>
    </nav>
</header>

<script type="application/javascript">
    $(".fa-arrow-left").click(function(){
       $('.root').load("views/home.html");
        $('.footer').load("views/main-footer.html");
        $('.header').load("views/main-header.html");
    });
</script>