<div class="container-fluid">
    <div class="row">
        <div class="col community">
            <i class="fas fa-users fa-2x"></i>
        </div>
        <div class="col consult">
            <i class="fas fa-stethoscope fa-2x"></i>
        </div>
        <div class="col home">
            <i class="fas fa-home fa-2x"></i>
        </div>
        <div class="col monitor">
            <i class="fas fa-search-dollar fa-2x"></i>
        </div>
        <div class="col games">
            <i class="fas fa-chess-knight fa-2x"></i>
        </div>
    </div>
</div>

<script src="./controllers/router.js"></script>