<div class="container-fluid">
    <div class="row">
        <div class="col community">
            <em class="fas fa-users fa-lg"></em>
        </div>
        <div class="col consult">
            <em class="fas fa-stethoscope fa-lg"></em>
        </div>
        <div class="col home">
            <em class="fas fa-home fa-lg"></em>
        </div>
        <div class="col monitor">
            <em class="fas fa-search-dollar fa-lg"></em>
        </div>
        <div class="col games">
            <em class="fas fa-chess-knight fa-lg"></em>
        </div>
    </div>
</div>

<script src="./controllers/router.js"></script>