<div class="container-fluid mb-5">
    
    <div class="container-fluid mb-5">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Chats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-friends-tab" data-toggle="pill" href="#pills-friends" role="tab" aria-controls="pills-friends" aria-selected="false">Connections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">All Moms</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

              <!-- LIST OF ARTICLES -->
              <ul class="list-unstyled">
                  
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">Now</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 2</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">16:20</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 3</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">19:20</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 4</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">Yest.</small>
                      </div>
                    </div>
                  </div>
                  </li>
                  <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 5</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">Yest.</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 5</span><br>
                        <small class="text-muted">Hello there! How are you...</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">23 Mar</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 5</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">17 Jan</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 5</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">17 Jan</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 5</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">17 Jan</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 5</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">17 Jan</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 5</span><br>
                        <small class="text-muted">Hello there! How are you doing?</small>
                      </div>
                      <div class="mx-2">
                        <small class="text-muted">17 Jan</small>
                      </div>
                    </div>
                  </div>
                </li>
                  
                    
                  
              </ul>

            </div>
              
              
            <div class="tab-pane fade" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab">

              <!-- LIST OF ARTICLES -->
              <ul class="list-unstyled">
                  
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="col">
                    <div class="media border rounded p-2">
                      <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                      <div class="ml-3 media-body">
                        <span>User's Name 1</span><br>
                        <small class="text-muted">smoke-free: 199 days</small>
                      </div>
                    </div>
                  </div>
                </li>
                </ul>
              </div>
              
              
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                <h6 class="card-title text-muted">Find Contacts</h6>
                <!-- LIST OF ARTICLES -->
                <ul class="list-unstyled">
                    <li class="row">
                      <div class="col">
                        <div class="media border rounded p-2">
                          <img class="align-self-start mx-1" src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/address_book-32.png" alt="Anonymous mode mask icon" />
                          <div class="ml-3 media-body mt-1">
                            <span class="">Address Book</span><br>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="row">
                      <div class="col">
                        <div class="media border rounded p-2">
                          <img class="align-self-start mx-1" src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/01-32.png" alt="Anonymous mode mask icon" />
                          <div class="ml-3 media-body mt-1">
                            <span class="">Facebook</span><br>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="row">
                      <div class="col">
                        <div class="media border rounded p-2">
                          <img class="align-self-start mx-1" src="https://cdn3.iconfinder.com/data/icons/picons-social/57/38-instagram-32.png" alt="Anonymous mode mask icon" />
                          <div class="ml-3 media-body mt-1">
                            <span class="">Instagram</span><br>
                          </div>
                        </div>
                      </div>
                    </li>
                  
                </ul>
                
                <h6 class="card-title text-muted">Suggestions</h6>
                
                <ul class="list-unstyled">
                    <li class="row">
                      <div class="col">
                        <div class="media border rounded p-2">
                          <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                          <div class="ml-3 media-body">
                            <span>User's Name 5</span><br>
                            <small class="text-muted">Smoke-free: 1 day</small>
                          </div>
                          <div class="mx-2">
                            <small class="text-muted">
                                <a href="#">Connect</a>
                            </small>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <li class="row">
                      <div class="col">
                        <div class="media border rounded p-2">
                          <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                          <div class="ml-3 media-body">
                            <span>User's Name 5</span><br>
                            <small class="text-muted">Smoke-free: 1 day</small>
                          </div>
                          <div class="mx-2">
                            <small class="text-muted">
                                <a href="#">Connect</a>
                            </small>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <li class="row">
                      <div class="col">
                        <div class="media border rounded p-2">
                          <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                          <div class="ml-3 media-body">
                            <span>User's Name 5</span><br>
                            <small class="text-muted">Smoke-free: 1 day</small>
                          </div>
                          <div class="mx-2">
                            <small class="text-muted">
                                <a href="#">Connect</a>
                            </small>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <li class="row">
                      <div class="col">
                        <div class="media border rounded p-2">
                          <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                          <div class="ml-3 media-body">
                            <span>User's Name 5</span><br>
                            <small class="text-muted">Smoke-free: 1 day</small>
                          </div>
                          <div class="mx-2">
                            <small class="text-muted">
                                <a href="#">Connect</a>
                            </small>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <li class="row">
                      <div class="col">
                        <div class="media border rounded p-2">
                          <img class="align-self-start mx-1 mt-2" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-32.png" alt="Anonymous mode mask icon" />
                          <div class="ml-3 media-body">
                            <span>User's Name 5</span><br>
                            <small class="text-muted">Smoke-free: 1 day</small>
                          </div>
                          <div class="mx-2">
                            <small class="text-muted">
                                <a href="#">Connect</a>
                            </small>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
                  

            </div>
          </div>

        </div>
      </div>
    </div>

</div>

<script type="text/javascript">
    $(".media.border").click(function(){
        $('.root').load("views/fullmessage.html");
        $('.footer').load("views/message-footer.html");
        $('.header').load("views/header-back.html");
    });
</script>




