<div class="container-fluid my-3 py-3">
  <div class="card">
    <div class="card-body">
      <div class="container">

        <div class="row mb-5">
          <div class="col">
            <h2 class="card-text text-left">Smoke free for</h2>
          </div>
          <div class="col">
            <h2 class="font-weight-bold text-right">200 Days</h2>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h4 class="font-weight-bold text-left">£252.46</h4>
          </div>
          <div class="col">
            <h4 class="font-weight-bold text-right">735</h4>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h5 class="text-left">saved in total</h5>
          </div>
          <div class="col">
            <h5 class="text-right">cigarettes avoided</h5>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <h3 class="font-weight-bold text-left">1 day</h3>
            <h3 class="font-weight-bold text-left">4 hours</h3>
            <h3 class="font-weight-bold text-left">3 mins</h3>
          </div>
          <div class="col align-middle">
            <h3 class="text-right">of life</h3>
            <h3 class="text-right">gained</h3>
            <h3 class="text-right">so far</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
