<div class="container-fluid mb-3 mt-4">
  <div class="card">
    <div class="card-header text-center">
      <h6 id="page-header">Tell us your story</h6>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills mb-2 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active l-pill" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="true" onclick="showMessage('#pills-tabContentLower');changeHeader(false);">Profile</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link r-pill" id="pills-favourites-tab" data-toggle="pill" href="#pills-favourites" role="tab"
            aria-controls="pills-favourites" aria-selected="false" onclick="hideMessage('#pills-tabContentLower');changeHeader(true);">Favourites</a>
        </li>
      </ul>

      <div class="tab-content mt-3" id="pills-tabContent">
        
        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="media">
            <img class="align-self-start profile" src="../res/img/natalie.png" alt="Profile photo">

            <div>
              <h6 class="ml-3 pb-3 font-weight-bold">Natalie</h6>
              <p class="ml-3 font-weight-light">Your Bio:</p>
              <p class="ml-3">
                Hey! I've been a smoker for 8 years but I managed to quit when my baby boy (Jonathan - he's amazing) was born. Since then I've been feeling the urge to start smoking again (stress!!) - but I'm determined to not let that happen.
              </p>
            </div>
          </div>

          <div>
            <button class="btn btn-outline-primary btn-sm float-right font-italic">Edit</button>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-favourites" role="tabpanel" aria-labelledby="pills-favourites-tab">

          <div class="card mb-3">
            <img class="card-img-top  img-fluid" src="../res/img/hilltopview.jpg" alt="View of a hill">
            <div class="card-body pb-0">
              <h5 class="card-title font-weight-bold">Smoke-Free Celebration!</h5>
              <p class="card-text">First time I've been up a hill in years without feeling our of breath!</p>
              <p class="card-text mb-1 font-weight-light font-italic text-right">Carol's post</p>
            </div>
          </div>

          <div class="card mb-3">
            <img class="card-img-top  img-fluid" src="../res/img/smoke.jpg" alt="Smoking cigarette">
            <div class="card-body pb-0">
              <h5 class="card-title font-weight-bold">Smoking and Health</h5>
              <p class="card-text">It's never to late to quit! Come see just how much your quality of life can improve if you quit now.</p>
              <p class="card-text mb-1 font-weight-light font-italic text-right">Tips & Facts</p>
            </div>
          </div>

          <div class="card mb-3">
            <img class="card-img-top  img-fluid" src="../res/img/baby-jonathan.jpg" alt="A baby.">
            <div class="card-body pb-0">
              <h5 class="card-title font-weight-bold">Inspiration</h5>
              <p class="card-text">As much as I'm doing this for myself, I'm doing this for Jonathan too! I like to think he's
                proud of his mum! Just look how well he can go!</p>
              <p class="card-text mb-1 font-weight-light font-italic text-right">Your post</p>
            </div>
          </div>

          <div class="card mb-3">
            <img class="card-img-top  img-fluid" src="../res/img/quitsmoking.jpg" alt="Lady snapping cigarette">
            <div class="card-body pb-0">
              <h5 class="card-title font-weight-bold">10 Quitting tips</h5>
              <p class="card-text">If you're needing help quitting - look no further!</p>
              <p class="card-text mb-1 font-weight-light font-italic text-right">Tips & Facts</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4 mb-5" id="pills-tabContentLower">
    <div class="card-body">
      <div>
        <div>You've been smoke free for <strong>50</strong> days!</div>
        <div>Keep it up!</div>
      </div>
    </div>
  </div>
</div>

<style>
  .profile {
    max-width: 50%;
  }
    
    .nav-pills li {
        width: 50%;
        text-align: center;
    }
    
    ul.nav {
        padding-bottom: 10px;
        border-bottom: 1px solid #f1f2f2;
    }
    
    .nav-pills li a.r-pill {
        border-radius: 0 1em 1em 0 !important;
        border: 1px solid #007bff;
    }
    
    .nav-pills li a.l-pill {
        border-radius: 1em 0 0 1em !important;
        border: 1px solid #007bff;
    }
</style>

<!-- Controls hiding and showing multiple tabs when clicking the pills -->
<script>
  function changeHeader(profile) {
    if (profile) {
      document.getElementById('page-header').innerHTML = "Check our posts you've liked here";
    }
    else {
      document.getElementById('page-header').innerHTML = "Tell us your story";
    }

    profile = !profile;
  }

  function hideMessage(elem) {
    $(elem).hide();
  }

  function showMessage(elem) {
      $(elem).show();
    }
</script>
