<div class="container-fluid mb-5 pb-5">
  <div class="card">
    <div class="card-body">
      <h6 class="card-title text-center">Settings</h6>
      <div class="container">
        <div class="row mt-4 pt-3">
          <div class="col">
            <div class="media">
              <img class="align-self-start mr-3" src="../res/icon/eye.png" alt="Accessibility mode eye icon"/>
              <div class="media-body">
                <p>Accessibility Mode</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="media">
              <img class="align-self-start mr-3" src="../res/icon/bell.png" alt="Notification frequency bell icon" />
              <div class="media-body">
                <p>Notification Frequency</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="media">
              <img class="align-self-start mr-3" src="../res/icon/mask.png" alt="Anonymous mode mask icon" />
              <div class="media-body">
                <p>Anonymous Mode</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="media">
              <img class="align-self-start mr-3" src="../res/icon/tools.png" alt="Advanced settings tools icon" />
              <div class="media-body">
                <p>Advanced Settings</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
