<div class="container mb-5">

    <div class="container mb-3">
  <div class="card">
    <div class="card-body">
        
        <div class="input-group mb-3">
            <input type="text" class="form-control" , placeholder="Search Posts">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search" /></button>
            </span>
        </div>


          <!-- LIST OF ARTICLES -->
          <ul class="list-unstyled">
            <li class="media">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1 mt-1">Tip Title 1</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
            <li class="media my-4">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Fact Title 2</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
            <li class="media">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Hint Title 3</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
            <li class="media my-4">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Fact Title 2</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
            <li class="media">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Hint Title 3</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
              <li class="media my-4">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Fact Title 2</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
            <li class="media">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Hint Title 3</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
              <li class="media my-4">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Fact Title 2</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
            <li class="media">
              <img src="https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/bulb_on.png" class="mr-3" alt="...">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Hint Title 3</h6>
                Content summary here in a few lines. Preferably two or more.
              </div>
            </li>
          </ul>


    </div>
  </div>
  </div>
    
</div>

<script type="text/javascript">
    $("li").click(function(){
       $('.root').load("views/article.html");
    });
</script>