<div id="my-nav-overlay" class="sidenav" style="opacity: 0.2;" onclick="closeNav()">
</div>

<div id="mySidenav" class="sidenav text-white">
  <div class="card text-white bg-dark">
      <div class="card-body">
        <img src="../res/img/natalie.png" class="card-img-top" alt="profile photo" style="max-width: 64px!important; max-height: 64px !important;">
        <h5 class="card-text mt-1">
            You <br>
            <small class="">Smoke-free: 299 days</small>
        </h5>
      </div>
    </div>
  <a href="#" class="home" onclick="closeNav()">Home</a>
  <a href="#" class="profile"  onclick="closeNav()">Profile</a>
  <a href="#" class="messaging" onclick="closeNav()">Messaging</a>
  <a href="#" class="community" onclick="closeNav()">Community</a>
  <a href="#" class="consult" onclick="closeNav()">Consultation</a>
  <a href="#" class="monitor" onclick="closeNav()">Monitor</a>
  <a href="#" class="games" onclick="closeNav()">Recreation</a>
  <a href="#" class="settings"  onclick="closeNav()">Settings</a>
</div>

<script src="./controllers/router.js"></script>