<head>
    <script type="text/javascript" src="../../js/recreation.js"></script>
</head>

<div class="container-fluid mb-3 discover mt-4">
    <div class="card text-center">
        <h6 class="intro-text" id="page-header">Feeling the urge to smoke? Why don't you play a game, alone or with a
            friend!</h6>
    </div>
</div>


<!-- Contains the list of games -->
<div class="container-fluid mt-2 mb-5">
    <div class="row-md-3">
        <div class="col-md-3 mt-3">
            <div class="card text-center">
                <img class="card-img-top"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/780750/header.jpg?t=1528049846"
                    alt="Card image cap">
                <div class="card-body" id="card">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success btn-primary btn-block">Play</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-primary btn-block friends">Invite</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-md-3">Highscore: 5342</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center">
                <img class="card-img-top" src="https://i.ytimg.com/vi/_QAi6avUNiA/maxresdefault.jpg"
                    alt="Card image cap">
                <div class="card-body" id="card">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success btn-primary btn-block">Play</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-primary btn-block friends">Invite</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-md-3">Highscore: 9635</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center">
                <img class="card-img-top"
                    src="http://wallpaperstock.net/retro%3A-space-invaders_wallpapers_20668_852x480.jpg"
                    alt="Card image cap">
                <div class="card-body" id="card">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success btn-primary btn-block">Play</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-primary btn-block friends">Invite</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-md-3">Highscore: 1879</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .intro-text {
        padding: 10px;
    }

</style>