<head>
    <link rel="stylesheet" type="text/css" href="../../res/css/home.css" />
    <script type="text/javascript" src="../../js/home.js"></script>
</head>

<!-- Loads the intro image carousel -->
<div class="background container-fluid mb-3 mt-4">
    <div class="card">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="6000">
                    <img class="d-block w-100" src="../res/img/welcome01.png" alt="Welcome, this is your first step towards a smoke free life - for you, your baby, and your family!">
                </div>
                <div class="carousel-item" data-interval="6000">
                    <img class="d-block w-100" src="../res/img/welcome02.png" alt="Take a look around. If you're not sure where to start, try the 'tips & facts' section below, or connect with friends in 'community'.">
                </div>
                <div class="carousel-item" data-interval="6000">
                    <img class="d-block w-100" src="../res/img/welcome03.png" alt="If you're really stuck, try distracting yourlself with a game or make an appointement with one of our experts in 'consultation'.">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
        </div>
    </div>
</div>

<!-- Contains the 'Tips & Facts' and 'Favourites' sections -->
<div class="background container-fluid mb-3 discover">
    <div class="card">
        <div class="card-header text-center">
            <h6 id="page-header">Read and save health tips from experts</h6>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-2 nav1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link l-pill active" id="pills-home-tab" data-toggle="pill" href="#pills-tips" role="tab" aria-controls="pills-home" aria-selected="true">Tips & Facts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link r-pill" id="pills-profile-tab" data-toggle="pill" href="#pills-fav" role="tab" aria-controls="pills-profile" aria-selected="false">Favourites</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tips" role="tabpanel" aria-labelledby="pills-home-tab">

                    <!-- List of Tips -->
                    <ul class="list-unstyled">
                        <li class="media">
                            <img src="https://cdn1.iconfinder.com/data/icons/free-98-icons/32/idea-32.png" class="mr-3" alt="article image">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 font-weight-bold">Struggling With Withdrawal?</h6>
                                We've got some great advice to help when you're feeling the urge.
                            </div>
                        </li>
                        <li class="media my-4">
                            <img src="https://cdn1.iconfinder.com/data/icons/free-98-icons/32/idea-32.png" class="mr-3" alt="article image">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1  font-weight-bold">What Do Your Lungs Look Like When Smoking?</h6>
                                Have you ever seen the damage that cigarettes can cause to your lungs?
                            </div>
                        </li>
                        <li class="media">
                            <img src="https://cdn1.iconfinder.com/data/icons/free-98-icons/32/idea-32.png" class="mr-3" alt="article image">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 font-weight-bold">Smoking and Health</h6>
                                It's never to late to quit! Come see just how much your quality of life can improve if you quit now.
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="tab-pane fade" id="pills-fav" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <!-- List of favourites -->
                    <ul class="list-unstyled">
                        <li class="media">
                            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699033-icon-45-note-list-64.png" class="mr-3" alt="article image">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 font-weight-bold">Smoking and Health</h6>
                                It's never to late to quit! Come see just how much your quality of life can improve if you quit now.
                            </div>
                        </li>
                        <li class="media my-4">
                            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699033-icon-45-note-list-64.png" class="mr-3" alt="article image">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 font-weight-bold">Smoking and Your Baby</h6>
                                Do you know how smoking can affect the health of your child before it's even born?
                            </div>
                        </li>
                        <li class="media">
                            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699033-icon-45-note-list-64.png" class="mr-3" alt="article image">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 font-weight-bold">Remember to Celebrate Every Victory</h6>
                                Quitting can be hard, so don't forget to give yourself a break every now and then!
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <a href="#" class="card-link showmore-news">Show More</a>
        </div>
    </div>
</div>


<!-- Contains the social 'trending' and 'my posts' sections -->
<div class="container-fluid mb-5 community-section">
    <div class="card">
        <div class="card-header text-center">
            <h6>Connect with other parents just like you</h6>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-2 nav2" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active l-pill" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Trending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link r-pill" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">My Posts</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <!-- List of trending -->
                    <ul class="list-unstyled">
                        <li class="media card mb-2">
                            <div class="media-body card-body">
                                <h6 class="mt-0 mb-1">
                                    <img src="../res/img/natalie.png" class="profile mr-3 img-fluid" alt="Your profile picture.">
                                    <span class="pr-3 font-weight-bold">You:</span>
                                    <small class="text-muted pl-5">16h</small>
                                </h6>
                                I just reached my 200th smoke-free day! <br>
                                <small class="text-muted">
                  <span class="pr-3">
                    <i class="fas fa-share"></i>
                    25 Shares
                  </span>
                  <span class="pr-3">
                    <i class="fas fa-heart"></i>
                    31 Likes
                  </span>
                  <span>
                    <i class="fas fa-comment"></i>
                    10 Comments
                  </span>
                </small>
                            </div>
                        </li>
                        <li class="media card mb-2">
                            <div class="media-body card-body">
                                <h6 class="mt-0 mb-1">
                                    <img src="../res/img/mark.png" class="profile mr-3 img-fluid" alt="Mark's profile picture.">
                                    <span class="pr-3 font-weight-bold">Mark:</span>
                                    <small class="text-muted pl-5">16h</small>
                                </h6>
                                I had a bad day, but I resisted the urge to smoke - things are looking up! <br>
                                <small class="text-muted">
                  <span class="pr-3">
                    <i class="fas fa-share"></i>
                    25 Shares
                  </span>
                  <span class="pr-3">
                    <i class="fas fa-heart"></i>
                    31 Likes
                  </span>
                  <span>
                    <i class="fas fa-comment"></i>
                    10 Comments
                  </span>
                </small>
                            </div>
                        </li>
                        <li class="media card mb-2">
                            <div class="media-body card-body">
                                <h6 class="mt-0 mb-1">
                                    <img src="../res/img/carol.png" class="profile mr-3 img-fluid" alt="Carol's profile picture.">
                                    <span class="pr-3 font-weight-bold">Carol:</span>
                                    <small class="text-muted pl-5">16h</small>
                                </h6>
                                So glad I decided to quit - I'm proud I'm helping keep my daughter's lungs clean. <br>
                                <small class="text-muted">
                  <span class="pr-3">
                    <i class="fas fa-share"></i>
                    25 Shares
                  </span>
                  <span class="pr-3">
                    <i class="fas fa-heart"></i>
                    31 Likes
                  </span>
                  <span>
                    <i class="fas fa-comment"></i>
                    10 Comments
                  </span>
                </small>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <!-- List of my posts -->
                    <ul class="list-unstyled">
                        <li class="media card mb-2">
                            <div class="media-body card-body">
                                <h6 class="mt-0 mb-1">
                                    <img src="../res/img/natalie.png" class="profile mr-3 img-fluid" alt="Your profile picture.">
                                    <span class="pr-3 font-weight-bold">You</span>
                                    <small class="text-muted pl-5">16h</small>
                                </h6>
                                I just reached my 200th smoke-free day! <br>
                                <small class="text-muted">
                  <span class="pr-3">
                    <i class="fas fa-share"></i>
                    25 Shares
                  </span>
                  <span class="pr-3">
                    <i class="fas fa-heart"></i>
                    31 Likes
                  </span>
                  <span>
                    <i class="fas fa-comment"></i>
                    10 Comments
                  </span>
                </small>
                            </div>
                        </li>
                        <li class="media card mb-2">
                            <div class="media-body card-body">
                                <h6 class="mt-0 mb-1">
                                    <img src="../res/img/natalie.png" class="profile mr-3 img-fluid" alt="Your profile picture.">
                                    <span class="pr-3 font-weight-bold">You</span>
                                    <small class="text-muted pl-5">16h</small>
                                </h6>
                                My husband's decided to quit on BabyBreathe with me - lets all show him some encouragement! <br>
                                <small class="text-muted">
                  <span class="pr-3">
                    <i class="fas fa-share"></i>
                    25 Shares
                  </span>
                  <span class="pr-3">
                    <i class="fas fa-heart"></i>
                    31 Likes
                  </span>
                  <span>
                    <i class="fas fa-comment"></i>
                    10 Comments
                  </span>
                </small>
                            </div>
                        </li>
                        <li class="media card mb-2">
                            <div class="media-body card-body">
                                <h6 class="mt-0 mb-1">
                                    <img src="../res/img/natalie.png" class="profile mr-3 img-fluid" alt="Your profile picture.">
                                    <span class="pr-3 font-weight-bold">You</span>
                                    <small class="text-muted pl-5">16h</small>
                                </h6>
                                If you're having a tough day - don't give in! Every little victory counts! <br>
                                <small class="text-muted">
                  <span class="pr-3">
                    <i class="fas fa-share"></i>
                    25 Shares
                  </span>
                  <span class="pr-3">
                    <i class="fas fa-heart"></i>
                    31 Likes
                  </span>
                  <span>
                    <i class="fas fa-comment"></i>
                    10 Comments
                  </span>
                </small>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <a href="#" class="card-link showmore-com">Show More</a>
        </div>
    </div>
</div>
