<head>
  <link rel="stylesheet" type="text/css" href="../../res/css/monitor.css" />
  <script type="text/javascript" src="../../js/monitor.js"></script>
</head>

<!-- Contains statistics about how well the user is doing - health and finance etc -->
<div class="container-fluid mb-3 discover mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h6 id="page-header">Keep track of your progress and statistics here</h6>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-2 nav1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active l-pill" id="pills-home-tab" data-toggle="pill" href="#pills-tips" role="tab" aria-controls="pills-home" aria-selected="true">Savings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link r-pill" id="pills-profile-tab" data-toggle="pill" href="#pills-fav" role="tab" aria-controls="pills-profile" aria-selected="false">Health</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tips" role="tabpanel" aria-labelledby="pills-finance-tab">
                    <div class="row-wrapper">
                        <div class="row text-center">
                            <div class="col">
                                <div class="counter">
                                    <i class="fa fa-euro-sign fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="89" data-speed="1500"></h2>
                                    <p class="count-text ">Saved this week!</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter">
                                    <i class="fa fa-pound-sign fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="412" data-speed="1500"></h2>
                                    <p class="count-text ">Saved this month!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row text-center">
                            <div class="col">
                                <div class="counter">
                                    <i class="fa fa-smoking fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="632" data-speed="1500"></h2>
                                    <p class="count-text ">Not smoked so far!</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter">
                                    <i class="fa fa-car-side fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="315" data-speed="1500"></h2>
                                    <p class="count-text ">To go for your car!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-fav" role="tabpanel" aria-labelledby="pills-health-tab">
                    <div class="row-wrapper">
                        <div class="row text-center">
                            <div class="col">
                                <div class="counter">
                                    <i class="fa fa-heartbeat fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="4" data-speed="1500"></h2>
                                    <p class="count-text ">Times less likely to get a heart disease!</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter">
                                    <i class="fa fa-briefcase-medical fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="212" data-speed="1500"></h2>
                                    <p class="count-text ">Days till your lungs are completely clean!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row text-center">
                            <div class="col">
                                <div class="counter">
                                    <i class="fa fa-battery-three-quarters fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="8" data-speed="1500"></h2>
                                    <p class="count-text ">times more energy! &nbsp;&nbsp; You'll need it</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter">
                                    <i class="fa fa-wine-bottle fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="12" data-speed="1500"></h2>
                                    <p class="count-text ">times less likely to have a lower milk production</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-4 py-3">
        <div class="card">
            <img src="../res/img/baby-jonathan-towel.jpg" class="card-img-top" alt="Jonathan, really going for it - this time with a towel." />
            <div class="card-body">
                <h5 class="card-title">Don't forget - you're doing it for baby Jonathan!</h5>
                <p class="card-text">He really goes for it, despite all obstacles.</p>
                <a href="#" class="card-link showmore-com border border-primary py-1 px-2 rounded">
            Add More Images &nbsp;
            <i class="fa fa-camera"></i>
        </a>
            </div>
        </div>

    </div>
</div>
